doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title cardsmbl
        <script src="https://kit.fontawesome.com/2ba695a310.js" crossorigin="anonymous"></script>
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js")
        script(src= "index.js")
        link(rel="stylesheet", href="./css/index.css")
    body 
        section.mobileContainer
            // mbl header
            .header 
                .iconsCon 
                .navBtns 
                    button.backButton <i class="fa-solid fa-arrow-left"></i>
            .title_profile_con 
                h2 Bank Cards 
                .profileImage 
                    <i class="fa-solid fa-user"></i>
            
            .AmountDisplay 
                h6 Balance 
                h4 $45670.00

            .cardsContainerWrapper 
                ul.cardsMainContainerScroll
                    li.card.card1
                    li.card.card2 
                    li.card.card3
                    li.card.emptyCard

            .CButtonsCon 
                .ctbn.ctbn1
                .ctbn.ctbn2  
                .ctbn.ctbn3  



            ul.listSectionFirst
                li  
                    .li_logo 
                    h2.li_Title 
                    p.li_description 
                    h2.li_Amount

                li fsf

                li fsf

                li fsfs



