doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title cardsmbl
        <script src="https://kit.fontawesome.com/2ba695a310.js" crossorigin="anonymous"></script>
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js")
        script(src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js")
        script(src= "index.js")
        link(rel="stylesheet", href="./css/index.css")
    body 
        section.mobileContainer
            // mbl header
            .header 
                .iconsCon 
                    p.time 9:11
                    .network 
                        <i class="fa-solid fa-signal"></i>
                    .wifi 
                        <i class="fa-solid fa-wifi"></i>
                    .battery
                        <i class="fa-solid fa-battery-full"></i>
                .navBtns 
                    button.backButton <i class="fa-solid fa-arrow-left"></i>

            .Mblbody
                .topWrapper
                    .title_profile_con 
                        h2 Bank Cards 
                        .profileImage 
                            <i class="fa-solid fa-user"></i>
                    
                    .AmountDisplay 
                        h6 Balance 
                        h4 $45670.00
                    
                    .phaseSecondTop
                        h4 Full card
                        p Hold and move to see the backside

                .cardsContainerWrapper 
                    ul.cardsMainContainerScroll
                        li.card.card1
                        li.card.card2 
                        li.card.card3
                        li.card.emptyCard

                .CButtonsCon 
                    .ctbn.ctbn1
                    .ctbn.ctbn2  
                    .ctbn.ctbn3  



                ul.listSectionFirst
                    li.listHeading Today
                        .ulFix
                    li  
                        .li_logo

                        .li__mid
                            h2.li_Title Nike store
                            p.li_description shoes
                        h2.li_Amount +3453.00

                    li 
                        .li_logo
                            
                        .li__mid
                            h2.li_Title Starbucks
                            p.li_description Coffee
                        h2.li_Amount -6464.00

                    li 
                        .li_logo
                            
                        .li__mid
                            h2.li_Title Coles
                            p.li_description Groceries
                        h2.li_Amount -3.00

                    li 
                        .li_logo
                            
                        .li__mid
                            h2.li_Title Momo house
                            p.li_description Nepali Food
                        h2.li_Amount +0.45



